body {
    background-color: black;
    font-family: avenir;

}

h1 {
    color: white;
}

h2 {
    color: white;
}

a {
    color: #2c8bdd;
}

a:hover{
  color: #126ab5;
}

.intro-text {
    color: white;
    font-family: "Courier New";
    font-size: 20px;
    display: inline;
    margin-bottom: 20px;
}
.typed-cursor{
    opacity: 0;
}
#scrollDown {
    color: white;
    font-family: "Courier New";
    margin-top: 50px;
}

#intro {
    margin-top: 70px;
    padding-left: 4%;
    padding-right: 4%;
}


.node circle {
    fill: #fff;
    stroke: none;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
.node {
    color: white;
}

.node text {
    font: 12px sans-serif;
    color: white;
}

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

select {
    height: 40px;
    width: 200px;
    margin-left: 50px;
}

.block {
    height: 200px;
}

.navbar-brand{
    padding-left: 0px;
    padding-top: 15px;
}

.nav-container{
    padding-left: 20px;
    padding-right: 20px;
}


.navbar-inverse .navbar-brand {
    color: #c4c4c4;
}

.navbar-inverse .navbar-nav>li>a {
    color: #c4c4c4;
}

section{
    padding: 50px 0;
}

h3{
    color: white;
}

.padding{
    padding: 120px;
}

.node-text{
    fill:white;
}
.node--internal text {
    text-shadow: none;
}

.node circle:hover{
    fill: #2c8bdd;
}

.blink_me {
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}

/*for price line chart */

.line {
    fill:none;
    stroke: white;
    stroke-width: 1px;
}

.x-axis{
    stroke: white;
}

.x-axis line{
    stroke: white;
}

.x-axis path{
    stroke: white;
}

.y-axis{
    stroke: white;
}

.y-axis line{
    stroke: white;
}

.y-axis path{
    stroke: white;
}


#vendorMap {
    width: 70%;
    height: 500px;
    text-align: center;
    margin: auto;
}

.lead {
    color: #d0d0d0;
    text-align: left;
    font-size: 20px;
    padding-left: 4%;
    padding-right: 4%;
}
.bio {
    color: #d0d0d0;
    text-align: center;
    margin: auto;
    font-size: 20px;
}
.basic-header {
    font-size: 32px;
    text-align: center;
}

h4 {
    color: white;
    margin: auto;
    text-align: left;
    font-size: 25px;
    padding-left: 4%;
}

.mapTool {
    color: Black;
    padding-bottom: 3%;
}


.leaflet-popup-content {
    width:auto !important;
}

#zipSearch {
    padding-bottom: 20px;
    text-align: center;
    margin: auto;

}
form {
    text-align: center;
    margin: auto;
    color: white;
}

#checkers{
    color: white;
    text-align: center;
    margin:auto;
}

#forkName {
    color: black;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}
#forkDate {
    color:black;
    text-align: left;
    font-size: 18px;
    font-style: italic;
    padding-top: 1%;
}


#stacked-area > svg {
    display: block;
    margin: auto;
}

#timeline > svg {
    display: block;
    margin: auto;
}

#priceChart > svg {
    display: block;
    margin: auto;
}

#s0 {
    font-size: 32px;
    font-family: avenir;
    color: white;
}

#hashButton {
    text-align: center;
    margin: auto;
    background-color: #2c8bdd;
    color: white;
    border: none;
}

#hashButton:hover {
    background-color: #126ab5;
}

#hashText {
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: "Courier New"
}
#errorHash {
    text-align: center;
    font-size: 20px;
    padding-left: 1%;
    padding-right: 1%;

}

.pad {
    width: 100%;
    height: 180px;
}

.area{
    clip-path: url(#clip2);
}

#minMonth {
    color: black;
    margin: auto;

}


#maxMonth {
    color: black;
    margin: auto;

}
#minYear {
    color: black;
    margin: auto;
}


#maxYear {
    color: black;
    margin: auto;

}
#filterYear {
    color: black;
}


#minForm {
    padding-left: 5%;
}

#timeLabel{
    color: white;
    font-size: 15px;
    display: inline;
    padding-right: 1%;
    padding-left: 5%;

}

#button-wrapper{
 text-align: center;
}

button {
    font-family: inherit;
    font-size: 25px;
    line-height: inherit;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
}

button:hover{
    background-color: #2c8bdd;
}

#forkBlurb, #forkResult{
    font-size: 16px;
    color: #606060;
}

#tree-area{
    padding-left: 6%;
}












/* Customize the label (the container) */
.con {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.con input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.con:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.con input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.con input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator changed checkmark from solid white */
.con .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.leaflet-popup-tip-container {
    width: 40px;
    height: 20px;
    left: 50%;
    margin-left: -50%;
    overflow: hidden;
    pointer-events: none;
}

.card{
    margin: 0 auto;
    float: none;
}

.card-img-top{
    width: 250px;
    height: 148px;
    border-radius: 7px 7px 0px 0px;
}

.card-block{
    background-color: white;
    width: 250px;
    border-radius: 0px 0px 7px 7px;
    padding: 10%;
}

.btn-card{
    background-color: #2c8bdd;
    color: white;
    padding-left: 9%;
    padding-right: 9%;
    text-align: center;

}

.btn-card:hover{
    background-color: #126ab5;
    color:white;
}

.btn-card:focus{
    background-color: #2c8bdd;
    color: white;
}

.card-title{
    color: black;
    font-size: 18px;
    padding-bottom: 4%;
}

#amelia {
    width: 200px;
    height: 200px;
}
#luke {
    width: 200px;
    height: 200px;

}
#flood {
    width: 200px;
    height: 200px;
}
#conamelia {
    text-align: center;
    margin: auto;
}

#conluke {
    text-align: center;
    margin: auto;
}

#conflood {
    text-align: center;
    margin: auto;
}

.img-circle {
    border-radius: 50%;
}

#cardRow{
    padding: 5%;
}


.leaflet-popup-content {

    font-family: Avenir;
}

#forkDetail {
    background-color: white;
    border-radius: 10px;
    padding: 4%;
    width: 90%;
}

hr {
    border-top: 1px solid #607D8B;
    width: 100%;
}

.noUi-connect {
    background: #2c8bdd;
}
/*.noUi-base {
    background-color: #D0D0D0;
}

.noUi-handle {
    background-color: #D0D0D0;
}*/
#slider {
    width: 60%;
    text-align: center;
    margin: auto;
}

#event-start {
    margin-left: 35%;
    display: inline;
}
#event-end {
    text-align: right;
    margin-left: 35%;
    display: inline;
    margin-right: 5px;
}

#event-end {
    color: white;
}
#event-start {
    color: white;
    margin-top: 10px;
}

.bio{
    text-align: center;
    font-family: avenir;
    color: #d0d0d0;
    font-size: 18px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

#errorWrapper{
    background-color: white;
    border-radius: 10px;
    padding-bottom: 4%;
    padding-left: 4%;
    padding-right:4%;
    padding-top: 1%;
    width: 600px;
    margin: 0 auto;
    visibility: hidden;

}