body {
    background-color: black;
    font-family: avenir;

}

h1 {
    color: white;
}

h2 {
    color: white;
}

#top-text {
    color: white;
    font-family: "Courier New";
}

.node circle {
    fill: #fff;
    stroke: none;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
.node {
    color: white;
}

.node text {
    font: 12px sans-serif;
    color: white;
}

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

select {
    height: 40px;
    width: 200px;
    margin-left: 50px;
}

#block {
    height: 600px;
}

.navbar-brand{
    padding-left: 0px;
    padding-top: 15px;
}

.nav-container{
    padding-left: 20px;
    padding-right: 20px;
}

#intro{
    background-color: black;
}

.navbar-inverse .navbar-brand {
    color: #c4c4c4;
}

.navbar-inverse .navbar-nav>li>a {
    color: #c4c4c4;
}

section{
    padding: 50px 0;
}

h3{
    text-align: center;
    color: white;
}

.padding{
    padding: 175px;
}

.node-text{
    fill:white;
}
.node--internal text {
    text-shadow: none;
}

.node circle:hover{
    fill: #f5ff1d;
}

/*for price line chart */

.line {
    fill:none;
    stroke: white;
    stroke-width: 1px;
}

.x-axis{
    stroke: white;
}

.x-axis line{
    stroke: white;
}

.x-axis path{
    stroke: white;
}

.y-axis{
    stroke: white;
}

.y-axis line{
    stroke: white;
}

.y-axis path{
    stroke: white;
}

#vendorMap {
    width: 60%;
    height: 600px;
    text-align: center;
    margin: auto;
}

.lead {
    color: grey;
}

h4 {
    color: white;
    margin: auto;
    text-align: center;
}

.mapTool {
    color: Black;
}


.leaflet-popup-content {
    width:auto !important;
}