body {
    background-color: black;
    font-family: avenir;

}

h1 {
    color: white;
}

h2 {
    color: white;
}

#top-text {
    color: white;
    font-family: "Courier New";
}

.node circle {
    fill: #fff;
    stroke: none;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}
.node {
    color: white;
}

.node text {
    font: 12px sans-serif;
    color: white;
}

.node--internal text {
    text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

select {
    height: 40px;
    width: 200px;
    margin-left: 50px;
}

#block {
    height: 500px;
}

.navbar-brand{
    padding-left: 0px;
    padding-top: 15px;
}

.nav-container{
    padding-left: 20px;
    padding-right: 20px;
}

#intro{
    background-color: black;
}

.navbar-inverse .navbar-brand {
    color: #c4c4c4;
}

.navbar-inverse .navbar-nav>li>a {
    color: #c4c4c4;
}

section{
    padding: 50px 0;
}

h3{
    text-align: center;
    color: white;
}

.padding{
    padding: 50px;
}

.node-text{
    fill:white;
}
.node--internal text {
    text-shadow: none;
}

.node circle:hover{
    fill: #f5ff1d;
}

/*for price line chart */

.line {
    fill:none;
    stroke: white;
    stroke-width: 1px;
}

.x-axis{
    stroke: white;
}

.x-axis line{
    stroke: white;
}

.x-axis path{
    stroke: white;
}

.y-axis{
    stroke: white;
}

.y-axis line{
    stroke: white;
}

.y-axis path{
    stroke: white;
}

#vendorMap {
    width: 60%;
    height: 500px;
    text-align: center;
    margin: auto;
}

.lead {
    color: grey;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

h4 {
    color: white;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

.mapTool {
    color: Black;
}


.leaflet-popup-content {
    width:auto !important;
}

#zipSearch {
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
}
form {
    text-align: center;
    margin: auto;
    color: white;
}

#checkers{
    color: white;
    text-align: center;
    margin:auto;
}

#forkName {
    text-align: left;
    font-size: 20px;
}
#forkDate {
    text-align: left;
    font-size: 18px;
}


#stacked-area > svg {
    display: block;
    margin: auto;
}

#timeline > svg {
    display: block;
    margin: auto;
}

#priceChart > svg {
    display: block;
    margin: auto;
}

#mapText {
    text-align: center;
    margin: auto;
}
#hashButton {
    text-align: center;
    margin: auto;
}
#hashText {
    text-align: center;
    color: white;
    font-size: 50px;
}
#errorHash {
    text-align: center;
    color: #c34539;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.pad {
    width: 100%;
    height: 150px;
}

.area{
    clip-path: url(#clip2);
}

#minMonth {
    color: black;
    margin: auto;

}


#maxMonth {
    color: black;
    margin: auto;

}
#minYear {
    color: black;
    margin: auto;
}


#maxYear {
    color: black;
    margin: auto;

}
#filterYear {
    color: black;
}


#minForm {
    padding-left: 5%;
}

#timeLabel{
    color: white;
    font-size: 15px;
    display: inline;
    padding-right: 1%;
    padding-left: 5%;

}

#button-wrapper{
 text-align: center;
}

button {
    font-family: inherit;
    font-size: 25px;
    line-height: inherit;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
}

button:hover{
    background-color: #f5ff1d;
}

#forkBlurb, #forkResult{
    font-size: 20px;
    color: grey;
}

#tree-area{
    padding-left: 6%;
}

